# compiled
output
target
*/dist
*/tmp
*/out-tsc
.gradle

# dependencies
*/node_modules

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# log
logs
*/logs

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
*/npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
